.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph{
    width: 75%;
    padding: 50px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 10cap;
    text-align: center;
}

h3{
    color: rgb(223, 59, 59);
    font-family: 'Courier New', Courier, monospace;
}

.h1{
    font-family: 'Courier New', Courier, monospace;
}