.header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border: 2px solid #000; /* Change color and size as needed */
    border-radius: 12px; /* Adjust the border-radius value to control the amount of curve */
    margin: 12px;
    position: sticky;
    top: 0;
    width: 96%;
    background-color: rgba(255, 255, 255, 0.7); /* Customize the RGB values and alpha channel as needed */
    color: #000;
  }
  
  .leftcomponent,
  .rightcomponent {
    margin: 12px;
  }
  