.header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border: 2px solid #000; /* Change color and size as needed */
    border-radius: 12px; /* Adjust the border-radius value to control the amount of curve */
    margin: 12px;
  }
  
  .leftcomponent,
  .rightcomponent {
    margin: 12px;
  }
  